@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

* {
    font-family: 'Libre Baskerville', serif;
}

nav {
    font-size: 1.3em;
}

.navbar-nav { 
    flex-direction: row;
}

.hero {
    /* Sizing */
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('images/archive.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


.hero h1 {
    /* Text styles */
    font-size: 4em;
    
    /* Margins */
    margin-top: 0;
    margin-bottom: 0.5em;
}

.hero .btn {
    /* Positioning and sizing */
    display: block;
    width: 200px;
    
    /* Padding and margins */
    padding: 0.5em;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Text styles */
    color: white; /* CHANGE THIS LINE */
    text-decoration: none;
    font-size: 1.5em;
    
    /* Border styles */
    border: 1px solid white; /* CHANGE THIS LINE */
    border-radius: 10px;

    /* Background styles */
    background-color: rgba(128, 101, 133, 0.8);
}

.textualcontent {
    padding: 30px;
}

.textualcontent p{
    font-size: 1.2em;
}

.carousel-inner img {
    margin: auto;
  }

